@use '~bootstrap/scss/bootstrap';

nav{
  background-color: #F2F7E6;
}


.footerFixed{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}


footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #F2F7E6;
    position: absolute;
    bottom: 0;
}

.top {
  position: relative;
}

p {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 70px;
  font-weight: bold;
}
